input
{
	font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
	border: 0;
    border-bottom: 1px solid #E547F7;
    outline: 0;
    background-color: rgba(255,255,255,0);
}
#id2{
    background: #92bde7;
    color: #485e74;
    line-height: 1.6;
    font-family: 'segoe UI','Tahoma',Geneva,Verdana,sans-serif;
    padding: 1em;
}
#id1
{
	background: #c9e6ff;
    color: #485e74;
    line-height: 1.6;
    font-family: 'segoe UI','Tahoma',Geneva,Verdana,sans-serif;
    padding: 1em;
}
	